body {
        background-color: #000;
        margin: 0;
      }

      header {
        color: white;
        font-family: 'Nosifer', cursive, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
      }

      header h1 {
        font-size: 80px;
        animation: floatupdown 5s ease-in-out infinite;
      }

      @keyframes floatupdown {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-12px);
        }
        100% {
          transform: translateY(0);
        }
      }

      
      #btn{
        font-family: 'New Rocker';
        padding: 5px;
        font-size: 30px;
        margin-top: 150px;
        border-radius: 10px;
        margin-left: -60px;
        border: lightblue 1px solid;
      }
      